output/
_archive/
__pycache__
.toc
.build/
.build-ref/
*.log
tex2pdf.*/
.venv/


# Ignore Python build artifacts.

MANIFEST
build/
dist/
*.egg-info/
*.pyc
*.pyo


# Ignore pyenv files.

.python-version


# Ignore virtualenv environments.

.venv*/


# Ignore Vagrant runtime files.

.vagrant/


# Ignore OS metadata files.

.DS_Store
Thumbs.db




